<div id="managmentItem">
  <br>
  
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div id="itemTable">
      </div>
    </div>
  </div>
  
  <div id="itemModify">
  </div>
  <br>
</div>
