<div id="managmentPlans">
  <br>
  
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div id="planInfo">
      </div>
    </div>
  </div>
  
  <div id="planModify">
  </div>
  <br>
</div>
