<div id="searchUsers">

  <div class="row">
    <div class="col-md-1">
    </div>
    
    <div class="col-md-10">
      <p class="informationArticleTitle textTitle">Buscar Usuarios de la Piscina</p>
      <div class="line"></div><br>
        
      <div class="form-group">
        <div class="col-md-3">
          <label class="textTitleBasic">Rut o Apellido Paterno </label>
        </div>
        <div class="col-md-6">
          <input class="form-control textUpper" name="userId" id="userId">
        </div>
        <div class="col-md-2">
          <button id="search" class="btn btn-default textTitleBasic">Buscar</button>
        </div>
      </div> 
    
    </div>
  </div>

</div>