<div id="changePassConten">
  <div class="row">
    <div class="col-md-12">
      <div class="informationContainerSchool">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-6">
            <h3 class="informationArticleTitle">Cambiar contrase&ntildea</h3><br>  
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-11">            
            <form name="changePassForm" id="changePassForm" class="informationArticleTitle">
              
              <div class="col-md-6">
                <label >Clave Actual</label>
                <input class="form-control" type="password" id="passOld" name="passOld">
              </div>
              <div class="col-md-12">
                <br>
              </div>

              <div class="col-md-12">
                <div class="form-group row">
          
                  <label for="inputValue" class="col-md-2 control-label">Clave Nueva</label>
                  <div class="col-md-4">
                    <input class="form-control" type="password" id="password" name="password">
                  </div>
            
                  <label for="inputValue" class="col-md-2 control-label">CONFIRMAR Clave</label>
                  <div class="col-md-4">
                    <input class="form-control" type="password" id="passNewConfrm" name="passNewConfrm">
                  </div>
                  <br>
                 <input type="hidden" id="id" name="id" value="">
                </div>
                 <label id="change" class="btn btn-default">Cambiar clave</label>
              </div>
            </form>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>