<div id="poolMemberInfoActive">
<br>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <p class="textTitle">Plan vigente</p>
    <div class="line"></div><br>
       
    <div class="form-group row textTitleBasic">
      <div id="usersInformation" class="textTitleBasic">
      </div>
    </div>
  
    
    <div id="paymentDetailInformation" class="textTitleBasic">
    </div>
    <div id="planDetailInformation" class="textTitleBasic">
    </div>
    <div id="scheduleDetailInformation" class="textTitleBasic">
    </div>
  </div>
</div>
</div>
