<div id="managmentCategory">
  <br>
  
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div id="categoryTable">
      </div>
    </div>
  </div>
  
  <div id="categoryModify">
  </div>
  <br>
</div>
