  <select id= "region" name="region" class="form-control">
    <option value="">Seleccione Region</option>
    {{#regionCombo}}
    <option id={{id}} value={{id}}>{{name}}</option>
    {{/regionCombo}}
  </select>
