<div class="headerInitialSpace"></div>

<div class="navbar navbarCustomize headerIndex">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbarText" align="center" >
      <li class="dropdown">
        <a href="#" class= "navbarText" data-toggle="dropdown" role="button" aria-expanded="false">CLIENTES <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#addUser">Nuevo Cliente</a></li>
            <li><a href="#controlAccess">Control de Acceso</a></li>
            <li><a href="#managmentUsers">Ver | Modificar | Eliminar</a></li>
          </ul>
      </li>
      
      <li class="dropdown">
        <a href="#" class= "navbarText" data-toggle="dropdown" role="button" aria-expanded="false">PLANES <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#addPlan">Crear</a></li>
            <li><a href="#managmentPlans">Ver | Modificar | Eliminar</a></li>
          </ul>
      </li>

      <li class="dropdown">
        <a href="#" class= "navbarText" data-toggle="dropdown" role="button" aria-expanded="false">HORARIOS <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#addSchedule">Crear</a></li>
            <li><a href="#managmentSchedules">Ver | Modificar | Eliminar</a></li>
          </ul>
      </li>
      
      <li class="dropdown">
        <a href="#" class= "navbarText" data-toggle="dropdown" role="button" aria-expanded="false">PAGOS <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#addProduct">Realizar Pago</a></li>
            <li><a href="#managmentPayments">Ver | Eliminar</a></li>
            <li><a href="#closeTurn">Cerrar Caja</a></li>
            <li><a href="#reportSales">Reporte de Ventas</a></li>
          </ul>
      </li>

      <li class="dropdown">
        <a href="#" class= "navbarText" data-toggle="dropdown" role="button" aria-expanded="false">INVENTARIO <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#createCategory">Crear Categoria</a></li>
            <li><a href="#managmentCategory">Ver | Modificar | Eliminar Categorias</a></li>
            <li><a href="#createItem">Crear Item</a></li>
            <li><a href="#managmentItem">Ver | Modificar | Eliminar Item</a></li>
          </ul>
      </li>
      
      <li class="dropdown">
        <a href="#" class= "navbarText" data-toggle="dropdown" role="button" aria-expanded="false">INFORMACI&OacuteN <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#changePass">Cambiar Contrase&ntildea</a></li>
          </ul>
      </li>
      
      <li class="dropdown">
        <a href="#" class= "navbarText" data-toggle="dropdown" role="button" aria-expanded="false">SALIR <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#exitUser">Cerrar Sesi&oacuten</a></li>
          </ul>
      </li>

      <!-- <img src="../../../images/contactHeaderInfo.png" height="23%" width="23%" align="right"> -->
    </ul>
  </div>
</div>

<div class="headerInitialSpace headerApplicationText" style="color: white" align="right">&nbsp;&nbsp;{{userName}}</div>