<div class="headerInitialSpace"></div>

<div class="navbar navbarCustomize headerIndex">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbarText" align="center" >
      <li class="dropdown">
        <a href="#" class= "navbarText" data-toggle="dropdown" role="button" aria-expanded="false">PAGOS <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#payHistory">Historial de Pagos</a></li>
          </ul>
      </li>
      
      <li class="dropdown">
        <a href="#" class= "navbarText" data-toggle="dropdown" role="button" aria-expanded="false">PLAN <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#poolMemberInfoActive">Plan Actual</a></li>
          </ul>
      </li>

      <li class="dropdown">
        <a href="#" class= "navbarText" data-toggle="dropdown" role="button" aria-expanded="false">INFORMACI&OacuteN <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#changePass">Cambiar Contrase&ntildea</a></li>
          </ul>
      </li>
      
      <li class="dropdown">
        <a href="#" class= "navbarText" data-toggle="dropdown" role="button" aria-expanded="false">SALIR <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#exitUser">Cerrar Sesi&oacuten</a></li>
          </ul>
      </li>
      
    </ul>
  </div>
</div>

<div class="headerInitialSpace headerApplicationText" style="color: white" align="right">&nbsp;&nbsp;{{userName}}</div>