<div id="loginContent">
  <div class="row">
    <div class="col-md-12">
      <div class="informationContainerSchool">
        <br>
        <br>
        <br>
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <h3 class="informationArticleTitle">LOGIN</h3><br>
            <form name="loginForm" id="loginForm" class="informationArticleTitle">
              <div class="form-group">
                <label>RUT</label>
                <input class="form-control" id="rut" name="rut">
              </div>
              <div class="form-group">
                <label>PASSWORD</label>
                <input class="form-control" type="password" id="password" name="password">
              </div>
              <label id="login" class="btn btn-default">Entrar</label>
            </form>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>