<div id="managmentSchedules">
  <br>
  
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div id="scheduleInfo">
      </div>
    </div>
  </div>
  
  <div id="scheduleModify">
  </div>
  <br>
</div>
