<br>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <p class="textTitle">Cerrar Caja</p>
    <div class="line"></div><br>
    <div class="form-group row">
      
      <label for="inputKey" class="col-md-3 control-label textTitleBasic">Precionar Boton para cerra caja, correspondiente a su turno.</label>
      <div class="col-md-2">
        <button id="btnCloseTurn" class="btn btn-default botonSearch">Cerrar Caja</button>
      </div>
    </div>
    
    <div class="form-group row textTitleBasic">
      <div id="closeTurnInformation" class="textTitleBasic">
      </div>
      <div class="col-md-2">
        <button id="btnExport" class="btn btn-default botonSearch">Exportar a Excel</button>
      </div>
    </div>
    
  </div>
</div>