<br>
<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <p class="textTitle">Buscar Pagos</p>
    <div class="line"></div><br>
    <div class="form-group row">
      
      <label for="inputKey" class="col-md-3 control-label textTitleBasic">Digitos del Rut o Apellido Paterno</label>
      <div class="col-md-6" id="user">
        <input type="text" class="form-control" name="userId" id="userId">
      </div>
      <div class="col-md-2">
        <button id="searchUsers" class="btn btn-default botonSearch">Buscar</button>
      </div>
    </div>
    
    
    <div class="form-group row textTitleBasic">
      <div id="usersInformation" class="textTitleBasic">
      </div>
    </div>
    
    <div id="paymentsInformation" class="textTitleBasic">
    </div>
    
    <div id="paymentDetailInformation" class="textTitleBasic">
    </div>
    <div id="planDetailInformation" class="textTitleBasic">
    </div>
    <div id="scheduleDetailInformation" class="textTitleBasic">
    </div>
  </div>
</div>